Xameleon/Web References/AmazonAWS.SQS/QueueService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://queue.amazonaws.com/doc/2006-04-01/" elementFormDefault="qualified" targetNamespace="http://queue.amazonaws.com/doc/2006-04-01/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="ResponseStatus">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" name="StatusCode" type="xs:string" />
        <xs:element minOccurs="0" name="Message" type="xs:string" />
        <xs:element minOccurs="1" name="RequestId" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListQueues">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="QueueNamePrefix" type="xs:NCName" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListQueuesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" name="QueueUrl" type="xs:anyURI" />
        <xs:element minOccurs="1" ref="tns:ResponseStatus" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateQueue">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="QueueName" type="xs:NCName" />
        <xs:element minOccurs="0" name="DefaultVisibilityTimeout" type="xs:integer" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateQueueResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="QueueUrl" type="xs:anyURI" />
        <xs:element minOccurs="1" ref="tns:ResponseStatus" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MessageId" type="xs:string" />
  <xs:element name="MessageBody" type="xs:string" />
  <xs:element name="Message">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" ref="tns:MessageId" />
        <xs:element minOccurs="1" ref="tns:MessageBody" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendMessage">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" name="MessageBody" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendMessageResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" name="MessageId" type="xs:string" />
        <xs:element minOccurs="1" ref="tns:ResponseStatus" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReceiveMessage">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="NumberOfMessages" type="xs:integer" />
        <xs:element minOccurs="0" name="VisibilityTimeout" type="xs:integer" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReceiveMessageResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="tns:Message" />
        <xs:element minOccurs="1" ref="tns:ResponseStatus" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PeekMessage">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" name="MessageId" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PeekMessageResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" ref="tns:Message" />
        <xs:element minOccurs="1" ref="tns:ResponseStatus" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteMessage">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" name="MessageId" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteMessageResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" ref="tns:ResponseStatus" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteQueue">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteQueueResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="tns:ResponseStatus" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetVisibilityTimeout">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="VisibilityTimeout" type="xs:integer" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetVisibilityTimeoutResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="tns:ResponseStatus" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetVisibilityTimeout">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetVisibilityTimeoutResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="VisibilityTimeout" type="xs:integer" />
        <xs:element minOccurs="1" ref="tns:ResponseStatus" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>